.projects {
  margin-bottom: 1em;
  padding: 0.5em;
  /* box-shadow: ; */
}

.project__individual__img {
  object-fit: contain;
}

.project__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start !important;
  height: ;
}

.project__body ul {
  margin-top: 0.5em;
  /* list-style: none; */
}

.project__body li {
  font-size: 0.6rem;
  margin: 0.5rem 0;
}

.project__link {
  margin-top: 1em;
  color: darkcyan;
}
